<div class="main-container" [class.nav-is-mobile]="isSmall">
	<mat-toolbar color="primary" class="nav-toolbar">
		<mat-toolbar-row>
			<button mat-icon-button (click)="snav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
			<span class="nav-logo">XIRI Demo</span>
			<span class="nav-spacer"></span>

			<button mat-icon-button class="nav-btn" (click)="themeService.toggle()" [matTooltip]="themeService.isDark() ? 'Light Mode' : 'Dark Mode'">
				<mat-icon>{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
			</button>
			<button mat-icon-button class="nav-btn" routerLink="/Logout" matTooltip="Logout">
				<mat-icon>exit_to_app</mat-icon>
			</button>
		</mat-toolbar-row>
	</mat-toolbar>

	<mat-sidenav-container class="nav-sidenav-container">
		<mat-sidenav #snav [mode]="isSmall ? 'over' : 'side'" role="navigation" [fixedInViewport]="isSmall" fixedTopGap="48" [opened]="opened && navLoaded" (openedChange)="opened && (navLoaded = $event)" disableClose>
			<mat-nav-list>
				<xiri-sidenav [settings]="navsettings"></xiri-sidenav>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<div class="mainpage">
				<router-outlet></router-outlet>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
