<div class="xcontainer-fluid">

	<!-- Breadcrumb -->
	<div class="xrow">
		<div class="xcol">
			<xiri-breadcrumb [settings]="breadcrumbs"></xiri-breadcrumb>
		</div>
	</div>

	<!-- Seitenkopf -->
	<div class="xrow">
		<div class="xcol">
			<xiri-page-header [settings]="pageHeaderIntro"></xiri-page-header>
		</div>
	</div>

	<!-- Select Field Types -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionSelectFields">
				<mat-card class="mat-elevation-z2">
					<mat-card-content>
						<xiri-form [settings]="data"></xiri-form>
					</mat-card-content>
				</mat-card>
				<app-go-code [code]="goSelectFieldsCode" title="Go: form/field (select)"></app-go-code>
			</xiri-section>
		</div>
	</div>

</div>
