<div class="xcontainer-fluid">

	<!-- Breadcrumb -->
	<div class="xrow">
		<div class="xcol">
			<xiri-breadcrumb [settings]="breadcrumbs"></xiri-breadcrumb>
		</div>
	</div>

	<!-- Seitenkopf -->
	<div class="xrow">
		<div class="xcol">
			<xiri-page-header [settings]="pageHeaderIntro"></xiri-page-header>
		</div>
	</div>

	<!-- Basic Breadcrumbs -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionBasic">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-breadcrumb [settings]="basicBreadcrumbs"></xiri-breadcrumb>
					</div>
					<div class="xcol-md-6">
						<app-go-code [code]="goBreadcrumbBasicCode" title="Go: page.Bread"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- Deep Navigation -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionDeep">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-breadcrumb [settings]="longBreadcrumbs"></xiri-breadcrumb>
					</div>
					<div class="xcol-md-6">
						<app-go-code [code]="goBreadcrumbDeepCode" title="Go: page.Bread (deep)"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- External Links -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionExternal">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-breadcrumb [settings]="externalBreadcrumbs"></xiri-breadcrumb>
					</div>
					<div class="xcol-md-6">
						<app-go-code [code]="goBreadcrumbExternCode" title="Go: page.Bread (extern)"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- All Items with Icons -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionIcons">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-breadcrumb [settings]="iconBreadcrumbs"></xiri-breadcrumb>
					</div>
					<div class="xcol-md-6">
						<app-go-code [code]="goBreadcrumbIconCode" title="Go: page.Bread (icons)"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

</div>
