<div class="xcontainer-fluid">

	<!-- Breadcrumb -->
	<div class="xrow">
		<div class="xcol">
			<xiri-breadcrumb [settings]="breadcrumbs"></xiri-breadcrumb>
		</div>
	</div>

	<!-- Seitenkopf -->
	<div class="xrow">
		<div class="xcol">
			<xiri-page-header [settings]="pageHeaderIntro"></xiri-page-header>
		</div>
	</div>

	<!-- 1: Simple -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionSimple1">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-barchart mode="simple" [settings]="simple1"></xiri-barchart>
					</div>
					<div class="xcol-md-6">
						<app-go-code [code]="goSimpleCode" title="Go: barchart.ModeSimple"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 2: Simple variant -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionSimple2">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-barchart mode="simple" [settings]="simple2"></xiri-barchart>
					</div>
					<div class="xcol-md-6">
						<app-go-code [code]="goSimpleCode" title="Go: barchart.ModeSimple (analog)"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 3: Stacked -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionStacked">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-barchart mode="stacked" [settings]="stacked"></xiri-barchart>
					</div>
					<div class="xcol-md-6">
						<app-go-code [code]="goStackedCode" title="Go: barchart.ModeStacked"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 4: Heatmap -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionHeatmap">
				<div class="xrow">
					<div class="xcol">
						<xiri-barchart mode="heatmap" [settings]="heatmap"></xiri-barchart>
					</div>
				</div>
				<div class="xrow">
					<div class="xcol">
						<app-go-code [code]="goHeatmapCode" title="Go: barchart.ModeHeatmap"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 5: Line Chart -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionLine">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-linechart [settings]="line"></xiri-linechart>
					</div>
					<div class="xcol-md-6">
						<app-go-code [code]="goLineCode" title="Go: linechart.New"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 6: Pie & Donut -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionPie">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-piechart [settings]="pie"></xiri-piechart>
					</div>
					<div class="xcol-md-6">
						<xiri-piechart [settings]="donut"></xiri-piechart>
					</div>
				</div>
				<div class="xrow">
					<div class="xcol">
						<app-go-code [code]="goPieCode" title="Go: piechart.New + Donut"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 7: Gauge -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionGauge">
				<div class="xrow">
					<div class="xcol-md-4">
						<xiri-gaugechart [settings]="gaugeCpu"></xiri-gaugechart>
					</div>
					<div class="xcol-md-4">
						<xiri-gaugechart [settings]="gaugeMem"></xiri-gaugechart>
					</div>
					<div class="xcol-md-4">
						<xiri-gaugechart [settings]="gaugeDisk"></xiri-gaugechart>
					</div>
				</div>
				<div class="xrow">
					<div class="xcol">
						<app-go-code [code]="goGaugeCode" title="Go: gaugechart.New"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 8: Nightingale -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionNightingale">
				<div class="xrow">
					<div class="xcol-md-6">
						<xiri-piechart [settings]="nightingale"></xiri-piechart>
					</div>
					<div class="xcol-md-6">
						<app-go-code [code]="goNightingaleCode" title="Go: piechart.New + Nightingale()"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 9: Heatmap Matrix -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionHeatmap2">
				<div class="xrow">
					<div class="xcol">
						<xiri-heatmap [settings]="heatmapMatrix"></xiri-heatmap>
					</div>
				</div>
				<div class="xrow">
					<div class="xcol">
						<app-go-code [code]="goHeatmapCode2" title="Go: heatmap.New"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 10: Calendar -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionCalendar">
				<div class="xrow">
					<div class="xcol">
						<xiri-calendar [settings]="calendar"></xiri-calendar>
					</div>
				</div>
				<div class="xrow">
					<div class="xcol">
						<app-go-code [code]="goCalendarCode" title="Go: calendar.New"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 11: Tree -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionTree">
				<div class="xrow">
					<div class="xcol-md-7">
						<xiri-tree [settings]="tree"></xiri-tree>
					</div>
					<div class="xcol-md-5">
						<app-go-code [code]="goTreeCode" title="Go: tree.New"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 12: Sankey -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionSankey">
				<div class="xrow">
					<div class="xcol">
						<xiri-sankey [settings]="sankey"></xiri-sankey>
					</div>
				</div>
				<div class="xrow">
					<div class="xcol">
						<app-go-code [code]="goSankeyCode" title="Go: sankey.New"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

	<!-- 13: Gantt -->
	<div class="xrow">
		<div class="xcol">
			<xiri-section [settings]="sectionGantt">
				<div class="xrow">
					<div class="xcol">
						<xiri-gantt [settings]="gantt"></xiri-gantt>
					</div>
				</div>
				<div class="xrow">
					<div class="xcol">
						<app-go-code [code]="goGanttCode" title="Go: gantt.New"></app-go-code>
					</div>
				</div>
			</xiri-section>
		</div>
	</div>

</div>
